@import "variables";

html {
  box-sizing: border-box;
  font-size: 30px;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background-color: $white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: $grey;
  text-decoration: none;
}

h1 {
  margin: 20px 0;
  text-align: center;
  color: $violet;
  font-size: 2rem;
  max-width: 30rem;
}

.container {
  width: 100%;
  min-width: 1024px;
  max-width: 1200px;
  margin: 0 230px;
  padding: 0 10px;
}
